// Fonts:
$summerFont: "Summer Font";

//Background Colors:
$colorBackground1: white;
$colorBackground2: black;

//Items Colors:
$navbarBackground: #d8d5cf;

//General Colors:
$dark: black;
$clear: white;
$sea: #008562;
$sand: #d2c4aa;

//Screen Size's:
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//Padding:
$container-padding: 10px;
$container-padding-md: 50px;
$container-padding-lg: 100px;
